// Specific CSS for your home-page
.banner {
    text-align: center;
    font-size: 25px;
  }
.banner img{
    width: 50%;
  }
.banner h1{
    font-size: 25px;
  }

.purple {
  	text-align: justify;
  }

.container h1 {
  	font-size: 40px;
  	font-style: bold;
  	color: #605649;
  }

.img_home {
    width: 200px;
  }

.animal_board {
  border-radius: 2%;
  width: auto;
  height: auto;
  margin: 20px;
  background-color: white;
  box-shadow: 5px 5px 5px grey;
}