// Specific CSS for your home-page
.banner {
    text-align: center;
    font-size: 25px;
  }
.banner img{
    width: 50%;
  }
.banner h1{
    font-size: 25px;
  }

.purple {
  	text-align: justify;
  }

.container h1 {
  	font-size: 40px;
  	font-style: bold;
  	color: #605649;
  }

.img_home {
    width: 200px;
    height: 180px;
  }

.animal_board {
  border-radius: 2%;
  width: auto;
  height: auto;
  margin: 20px;
  background-color: white;
  box-shadow: 5px 5px 5px grey;
}

.text-center h1 {
  color: #FCBD5A
}

// .button-search {
  
//   background-image: linear-gradient(-180deg, #22C3B5 10%, #1EAB9E 90%);
//   color: white !important;
//   border: .5px solid #1FA095;

// }
// .button-search:hover {
//   opacity: 0.8;
// }
.button-search {
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #f08c3a 5%, #d46829 100%);
	background-color:#eb9a4e;
	border-radius:18px;
	border:1px solid #f76b2a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:22px;
	font-weight:bold;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.button-search:hover{
	background:linear-gradient(to bottom, #fd9b2b 5%, #c62d1f 100%);
	background-color:#f24437;
}
.button-search:active {
	position:relative;
	top:1px;
}
