<footer class="mainfooter">
  <div class="footer-middle">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Quer um amigo?</h4>
          <ul class="list-unstyled">
            <li><a href="#"></a></li>
            <li><a href="https://medium.com/blog-da-bere/o-que-%C3%A9-ado%C3%A7%C3%A3o-respons%C3%A1vel-e87c09a537e9">Adoção responsável</a></li>
            <li><a href="#">Pocure seu amigo</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Melhores Amigos</h4>
          <ul class="list-unstyled">
            <li><a href="https://www.casapraticaqualita.com.br/noticia/5-cuidados-para-ter-antes-de-adotar-um-cachorro-ou-um-gato_a1827/1">Dicas e cuidados</a></li>
            <li><a href="https://www.worldanimalprotection.org.br/vidas-melhores-para-caes/guarda-responsavel">Guarda responsável</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Quem somos</h4>
          <ul class="list-unstyled">
            <li><a href="#">Sobre nós</a></li>
            <li><a href="#">Fale conosco</a></li>
          </ul>
        </div>
      </div>
    	<div class="col-md-3">
    		<h4>Follow Us</h4>
            <ul class="social-network social-circle">
             <li><a href="#" class="icoFacebook" title="Facebook"><i class="fab fa-facebook"></i></i></a></li>
             <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fab fa-instagram"></i></a></li>
            </ul>				
		</div>
    </div>
	<div class="row">
		<div class="col-md-12 copy">
			<p class="text-center">&copy; Copyright 2020 - Farejadores.  All rights reserved.</p>
		</div>
	</div>


  </div>
  </div>
</footer>