<h1>Adoção realizada!</h1>
<p>Parabéns, você adotou o <%= @adoption.animal.name %> do cuidador <%= @adoption.animal.owner.name %>, se você quiser mais informações entre em contato na página de contatos.</p>
