<div class="container">
  <div class="showadoptions">
    <h1>Adoção realizada!</h1>
    <%= cl_image_tag @adoption.animal.photo.key, height: 300, width: 400, gravity: :auto, crop: :fill %>
    <br>
    <br>    
    <p><strong>Parabéns</strong></p>
    <br>
    <br>
    <p>você adotou o <%= @adoption.animal.name %> do cuidador <%= @adoption.animal.owner.name %>, entre em contato pelo numero <%= @adoption.animal.owner.telefone %>.</p>
    <% if @adoption.animal.health_special == 'Sim' %>
      <p>Lembre-se, por precisar de cuidados especiais, seu novo animal precisará do dobro de carinho</p>
    <% end %>
  </div>
</div>