
<h1>Animais para adoção</h1>
<div class="cards-container">
  <div class="cards">
		<% @animals.each do |animal| %>
			<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/ngqyo2AYYnE/640x426)">
        <%= link_to animal.name.capitalize, animal_path(animal) %>
      </div>
		<% end %>
	</div>
</div>
