.animal-photo {
  position: relative;
  border-radius: 10px;
  .animal-name{
    position: absolute;
    color: white;
    background: gray;
    margin: 6px;
  }
}

.fa-paw {
  color: rgb(177, 174, 174);
}

.about {
  width: 100%;
}