.borda_texto{
  margin-top: 20px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(255, 68, 68);
  font-size: 3em; color: rgb(255,208,0);
  text-align: center;
}

h2{
  text-align: center;
  color: rgb(255,68,68)
}

#fixed{
  height: 100px;
}